# Server URL for API calls
NEXT_BACKEND_URL=
# Whether mock backend is enabled
MOCK_ENABLED=false

# Backend API URL
API_URL=http://localhost:8000

# Used to configure CORS, format links and more. No trailing slash
# In production, this should be the URL of the server. (Should not need to specify port)
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Preferred code editor for opening files from the dashboard
REACT_EDITOR=code
